google-api-python-client  # Cliente para la API de YouTube
pandas                    # Manipulación de datos
nltk                      # Procesamiento de lenguaje natural
spacy                     # NER (Reconocimiento de entidades)
textblob                  # Análisis de sentimientos
scikit-learn              # LDA para topic modeling
matplotlib                # Visualización de datos
langdetect                # Detectar el idioma
